body {
    font-family: "Montserrat";
}

#title {
    background-color: #009975;
    color: #fff;

}

.full-page {
    height: 100vh;
}

#about-me {
    background-color: #fff;
    color: #009975;
}

.container-fluid {
    padding: 2% 15%;
}

/* .title-padding {
    padding: 1rem 0;
} */

.section-separator {
    padding: 100px 0;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
}

h2 {
    margin-bottom: 60px;
    color: #009975;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    margin-bottom: 20px;
    color: black;
}

address {
    display: inline-block;
}
/* Navigation Bar */

.navbar {
    padding: 0 0 10%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    text-align: right;
    width: 15%;
}

/* .navbar-nav {
    width: 60%;
} */

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.4rem;
    font-family: "Montserrat-Light";
}

.image-border {
    height: 410px;
    width: 410px;
    border: 15px solid rgba(0, 0, 0, 0.07);
    margin: auto;
    border-radius: 50%;
}

.profile-image {
    margin: 0 auto;
    height: 380px;
    width: 380px;
    float: none;
    text-align: center;
    border: 15px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}

.profile-info {
    padding-top: 2rem;
    padding-left: 3rem;
}

.profile-details ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.profile-details ul li {
    margin: 10px 0;
}

.profile-details ul li a {
    color: #fff;
}

.fa {
    margin-right: 15px;
    display: inline-block;
}

.profile-social li {
    list-style-type: none;
    float: left;
}

.fab {
    font-size: 3em;
    line-height: 30px;
    padding: 4px 14px;
    margin-right: 10px;
}

.text-center {
    text-align: center!important;
}